header{
    height: 100px;
    color: black;
    
}
header .nav-item{
    padding-left: 20%;
    text-transform: uppercase;
    font-size: 26px;
}
header .navbar-brand{
    font-size: 36px;
    font-weight: 600;
}
.logo_mod_on{
    color: darkred;
}
.logo_mod_off{
    color: blue;
}
.card h5{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.card-body {
    background-image: url(img/flip_2.jpg);
    color: #fff;
    height: 320px;
}
.card-body p {
    margin-left: 12%;
}