/********header***********/
header{
    height: 100px;
    color: black;
    
}
header .nav-item{
    padding-left: 20%;
    text-transform: uppercase;
    font-size: 26px;
}
header .navbar-brand{
    font-size: 36px;
    font-weight: 600;
}
.logo_mod_on{
    color: darkred;
}
.logo_mod_off{
    color: blue;
}

/***************body********/

.card h5{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.card-body {
    background-image: url(img/flip_2.jpg);
    color: #fff;
    height: 320px;
}
.card-body p {
    margin-left: 12%;
}

/********footer*****/

li {
    list-style: none;
    display: inline-block;
    margin-left: 20%;
}

.footer_nav{
    height: 50px;
    max-width: 100%;
    background: #000;
}

.footer_nav li a{
    text-decoration: none;
    color: #fff;    
    font-size: 24px;
    margin: auto;
}
